
*{
    margin: 0;
    padding: 0;
}
/* Navigation bar */
#navbar{
display: flex;
top: 0;
align-items: center;
background-color: #31005c;
position: fixed;
width:100%;
opacity: 0.95;
font-family: 'Jolly Lodger';
background-image: url('images/newback.png');
height: 100px;
}
/* Navigation bar: logo and image */
#logo img{
height:80px;
margin: 2px;
width: 80px;
opacity: 1 !important;
}
/* Navigation bar: List*/
#navbar ul {
display: flex;
}
#navbar ul li{
list-style: none;
font-size: 2.3rem;
opacity: 1 !important;
}
#navbar ul li a{
text-decoration: none;
display: block;
padding: 8px 15px;
margin: 0px 60px;
border-radius: 20px;
color: rgb(166, 254, 33);
}
#navbar ul li a:hover{
color: rgb(12, 8, 245);
background-color: rgb(166, 254, 33);
}
/* Home section */
#home{
display: flex;
flex-direction: column;
align-items: center;
position: relative;
height: 650px;
width: 100%;
top: 80px;
background-image: url('images/homebacknew.png');
background-position: 100px 0 0 0 ;
background-position: top;
/* background-repeat: no-repeat; */
z-index: -1;}
#home h1{
color: #b4d151;
font-size: 5.5rem
}
#home div{
margin-top: 16rem;
}
#home p{
font-size: 1.2rem;
margin-left: 4rem;
margin-right: 4rem;
}
p{
letter-spacing: 1px;
}
.primary-heading{
font-size: 3rem;
}
.btn{
text-decoration: none;
background-color: #fdc62d;
margin-top: 1rem;
padding: 1rem 3rem;
color: #31005c;
border-radius: 2rem;
font-size: 1rem;
font-weight:bolder;
box-shadow: 3px 3px 10px pink;
}
#bookbtn:hover{
    cursor: pointer ;
}
/* services center */
#service-jug{
margin-top: 0px;
}
.services-container{
background-image: url('images/newback.png');
width: 100%;
}
.services{
display: flex;
justify-content: space-evenly;
}

.secondary-heading{
padding: -2px;}
.services .boxes:hover{
    box-shadow: -2px 2px   20px pink;
}
.services .boxes{
padding: 30px;
margin: 2px 80px;
text-align: center;
border-radius: 23px;}

.services .boxes img{
display: block;
margin: auto;
width: 300px;
border-radius: 20px;}

#food img{
width: 300px;
display: block;
height: 300px;
}

#food .boxes{
margin: 2px 30px;
}
/* utility classes */
.h1-primary{
font-family: 'Jolly Lodger';
text-align: center;
color: #b4d151;
font-size: 5.5rem
}
.h2-secondary{
font-family: 'Jolly Lodger';
font-size: 2.8rem;
color: #fdc62d;
text-align: center;
}
.para-text{
color: #ffb2f6;
text-align: center; 
font-family: 'shlop';
}
/*  bottom */
.normal{
font-family: "Baloo Bhai 2";
display: flex;
align-items: center;
justify-content: space-between;
background-color: rgb(4, 4, 4);
}
.normal div{
padding: 10px;
margin: 10px;
}
.normal h3{
color:white;
font-size: 3rem;
}
.normal p{
color: white;
}
footer{
display: flex;
justify-content: center;
background-color: rgb(56, 56, 56);
}
footer img {
width: 50px;
justify-content: center;
margin: 5px 20px;
padding: 0 5px;
}
/* contact  */
#contact{
 margin-top: 100px;
}
#contact-box{
    display: flex;
    font-family: "shlop";
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
#contact-box div{
    padding: 2px 10px;
    margin: 4px;
    width: 600px;
    color: #31005c;
    border-radius: 10px;
    background-color: #b4d151;
}
#contact-box input,textarea,select{
opacity: 1;
  color: #f37bfc;
  text-decoration: none;
  width: 50%;
  font-family: "shlop";
  height: 2rem;
  font-size: 1.5rem;
  border-radius: 5px;
  margin: 0px 0 2px 20px;
  margin-right: 0%;
  padding-right: 0%;
}




